.no-padding-left {
    padding-left: 0px;
}

textarea {
    resize: none;
}

.lhs-alert-panel {
    position: absolute;
    margin-top: -20px;
    margin-left: -15px;
    max-width: 60%;
    z-index: 999;
}