.no-padding-left {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 0px;
}

.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

textarea {
    resize: none;
}

.lhs-alert-panel {
    position: absolute;
    top: 62px;
    left: 180px;
    max-width: 60%;
    z-index: 999;
}

.fixed-table-container thead th .sortable {
    padding-right: 18px;
}