.login-page {
    overflow: hidden;
}

.login-page .bg-page {
    width: 100%;
    height: 100%;
    min-height: 434px;
    position: absolute;
    z-index: -100;
}

.login-page .login-frame {
    width: 100%;
    height: 100%;
}

.login-page .title {
    font-family: "Microsoft JhengHei";
    font-weight: bolder;
}

.login-page .login-frame .main-table {
    width: 320px;
}

.login-page .login-frame .main-table td {
    padding-top: 12px;
}

.login-page .login-frame form {
    display: block;
    background: url("./imgs/login_frame.png") no-repeat;
    width: 543px;
    height: 255px;
    overflow: hidden;
}

.login-page .login-frame .main-table {
    margin-top: 55px;
}

.login-page .login-frame .main-table input {
    border: 0;
}

.login-page .login-frame .main-table .form-label {
    font-size: 14px;
}

.login-page .login-frame .main-table .form-input {
    height: 22px;
    width: 137px;
    outline: none;
    vertical-align: middle;
}

.login-page .login-frame .main-table .icon-member {
    padding-left: 30px;
    background: url("./imgs/icon_member.png") 4px no-repeat;
    background-color: #FFFFFF;
    width: 170px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
}

.login-page .login-frame .main-table .icon-lock {
    padding-left: 30px;
    background: url(./imgs/icon_lock.png) 4px no-repeat;
    background-color: #FFFFFF;
    width: 170px;
    height: 25px;
    line-height: 25px;
    border: 1px solid #ccc;
}

.login-page .login-frame .main-table .btn-login {
    width: 81px;
    height: 26px;
    padding: 0px;
}

.login-page .login-frame .main-table .lhs-alert-panel {
    margin-bottom: 0px;
    padding: 5px;
}