<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>404错误</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body class="err404-page">
<div class="panel-inside">
    <div class="clearfix">
        <img src="/css/imgs/icon_ufo.png" alt="404 Error" class="pull-right">
    </div>
    <h1>404<span>Oh, no~ 访问的资源不见了...</span></h1>
</div>
</body>
</html>f