<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>广安舆情管理平台</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body class="index-page">
<div class="header">
    <div class="logo">
        <h3>广安舆情管理平台</h3>
    </div>
    <ul class="nav nav-pills">
        <li class="active">
            <a href="javascript:void 0;">舆情及处置</a>
        </li>
        <li>
            <a href="javascript:void 0;">社会舆情信息</a>
        </li>
        <li>
            <a href="javascript:void 0;">不良信息举报</a>
        </li>
        <li>
            <a href="javascript:void 0;">智能办公</a>
        </li>
        <li>
            <a href="javascript:void 0;">系统管理</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="aside-menu">
        <ul class=" nav nav-pills nav-stacked">
            <li class="selected">
                <a href="javascript:void 0;">舆情及处置</a>
            </li>
            <li>
                <a href="javascript:void 0;">社会舆情信息</a>
            </li>
            <li>
                <a href="javascript:void 0;">不良信息举报</a>
            </li>
            <li>
                <a href="javascript:void 0;">智能办公</a>
            </li>
            <li>
                <a href="javascript:void 0;">系统管理</a>
            </li>
        </ul>
    </div>
    <div id="main_panel" class="main-panel container-fluid"></div>
</div>
</body>
</html>