<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body class="login-page">
<img src="/css/imgs/login_bg.jpg" class="bg-page">
<table>
    <tr>
        <td height="200" align="center">
            <h1 class="title">广安舆情管理系统</h1>
        </td>
    </tr>
</table>
<table class="login-frame" align="center">
    <tr>
        <td class="bg-frame">
            <form>
                <table class="main-table" align="center" cellspacing="15">
                    <tr>
                        <td width="25%"><span class="form-label">用户名：</span></td>
                        <td width="75%">
                            <div class="icon-member">
                                <input name="username" type="text" class="form-input form-control" placeholder="请输入用户名">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%"><span class="form-label">密　码：</span></td>
                        <td width="75%">
                            <div class="icon-lock">
                                <input name="password" type="password" class="form-input form-control"
                                       placeholder="登录密码">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td id="msgPanel" colspan="2" align="center"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a id="btnSubmit" href="javascript:" class="btn btn-login" data-loading-text="正在验证用户信息...">
                                <img src="/css/imgs/login_btn.jpg"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
</body>
</html>