<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>@@舆情管理平台</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/publicvoice.js"></script>
</head>
<body class="index-page">
<div class="header">
    <div class="logo">
        <h3>@@舆情管理平台</h3>
    </div>
    <ul class="nav nav-pills">
        <li class="active">
            <a href="/pubvoice">舆情及处置</a>
        </li>
        <li>
            <a href="/socialvoice">社会舆情信息</a>
        </li>
        <li>
            <a href="/badinfo">不良信息举报</a>
        </li>
        <li>
            <a href="/smartoffice">智能办公</a>
        </li>
        <li>
            <a href="/sysmanage">系统管理</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="aside-menu">
        <ul id="lhs_aside_menu" class=" nav nav-pills nav-stacked">
            <li class="selected" data-page="record">
                <a href="javascript:">舆情录入</a>
            </li>
            <li data-page="examine&approve">
                <a href="javascript:">舆情审批</a>
            </li>
            <li data-page="dailyreport">
                <a href="javascript:">舆情日报</a>
            </li>
            <li data-page="dispose">
                <a href="javascript:">舆情处置</a>
            </li>
            <li data-page="notify">
                <a href="javascript:">舆情通报</a>
            </li>
            <li data-page="feedback">
                <a href="javascript:">舆情反馈</a>
            </li>
            <li data-page="guide">
                <a href="javascript:">舆情引导</a>
            </li>
            <li data-page="analyze">
                <a href="javascript:">舆情分析</a>
            </li>
        </ul>
    </div>
    <div id="main_panel" class="main-panel container-fluid"></div>
</div>
</body>
</html>