<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>@@舆情管理平台</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <script type="text/javascript" src="/js/smartoffice.js"></script>
</head>
<body class="index-page">
<div class="header">
    <div class="logo">
        <h3>@@舆情管理平台</h3>
    </div>
    <ul class="nav nav-pills">
        <% if(menus['1']) { %>
            <li><a href="/pubvoice">舆情及处置</a></li>
        <% } if(menus['2']) { %>
            <li><a href="/socialvoice">社会舆情信息</a></li>
        <% } if(menus['3']) { %>
            <li><a href="/badinfo">不良信息举报</a></li>
        <% } %>
        <li class="active"><a href="/smartoffice">智能办公</a></li>
        <li><a href="/sysmanage">系统管理</a></li>
    </ul>
    <a class="btn-logout" href="/logout">
        <i class="glyphicon glyphicon-off"></i>
        退出登录
    </a>
</div>
<div class="content">
    <div class="aside-menu">
        <ul id="lhs_aside_menu" class=" nav nav-pills nav-stacked">
            <li class="selected" data-page="allmessages"><a href="javascript:">我的通知</a></li>
            <% if(menus['41']) { %>
                <li data-page="sendmessage"><a href="javascript:">发文信息</a></li>
                <li data-page="recvmessage"><a href="javascript:">收文信息</a></li>
                <li data-page="notifymessage"><a href="javascript:">通知信息</a></li>
            <% } if(menus['42']) { %>
                <li data-page="examine&approve"><a href="javascript:">审批信息</a></li>
            <% } %>
        </ul>
    </div>
    <div id="main_panel" class="main-panel container-fluid"></div>
</div>
</body>
</html>